#recipe-wrapper{
   color: #63B995;
    font-family: 'Comfortaa', cursive;

}

.recipe-card {
   background-color: #63B995;
}

.recipe-image:hover {
   opacity: 0.5;
   filter: alpha(opacity=50); 
 }

#recipe-title{
}

#from{
   font-size: 1.1em;
}

#view-recipe {
   background-color: black;
   color: #63B995;
   font-family: 'Quicksand', sans-serif;
   
}

#view-recipe:hover {
background-color: #63B995;
border-color: black;
color:white;

}
 

/* .view-recipe {
   border-color: #63B995;
} */

#recipe-image-wrapper {
   height: 350px;
}

#recipe-image{
   position: relative;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   
   
}
