#recipe-wrapper{
   color: #63B995;
    font-family: 'Comfortaa', cursive;


}

.recipe-card {
   background-color: #63B995;
}

.recipe-image:hover {
   opacity: 0.5;
   filter: alpha(opacity=50); 
 }

 

.view-recipe{
   border-color: #63B995;
}