#contact {
    background-position: center;
    /* background-size: contain; */
    width: 100%;
    /* font-family: 'Comfortaa', cursive; */
    /* font-family: 'Raleway', sans-serif;  */
    font-family: 'Montserrat', sans-serif;
}

