
#brand-name {

    font-family: 'Comfortaa', cursive;
    /* font-size: 4em; */
    color: #63B995;

}

#login-btn {
    background-color: #63B995;
}

#login-btn:hover {
    background-color: black;
    border-color: #63B995;
}