
#product {
    width: 300px;
}

#product-name {
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5em;
    color: #63B995;

}

#product-description {
    /* font-family: 'Raleway', sans-serif;  */
    font-family: 'Quicksand', sans-serif;
    color: #63B995;
    /* font-size: 1em; */
}

#price {
    /* font-family: 'Comfortaa', cursive; */
    font-family: 'Quicksand', sans-serif;
    color: #63B995;
    font-size: 2em;
}
